@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0a0b0c;
  color: #c1c9f3;
}

html,
body,
#_next,
body > div {
  height: 100%;
  overflow-x: hidden;
}

main {
  height: calc(100% - 65px);
}

/* Barra de rolagem */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #0f1316; /* Cor de fundo da scrollbar */
}

/* Thumb da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #1a1f24; /* Cor do thumb da scrollbar */
  border-radius: 10px; /* Raio do border do thumb */
  border: 2px solid #1a1f24; /* Cor e tamanho da borda do thumb */
}

.tooltip {
  position: relative;
  display: inline-block;
  z-index: 999;
}

.tooltip:before,
.tooltip:after {
  content: '';
  position: absolute;
  visibility: hidden;
}

.tooltip:before {
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: #212427 transparent transparent transparent;
  bottom: 22px;
  left: 50%;
  margin-left: -8px;
}

.tooltip:after {
  background-color: #212427;
  border-radius: 4px;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 12px;
  padding: 6px 12px;
  top: -36px;
  left: 50%;
  margin-left: -18px;
  white-space: nowrap;
  font-weight: bold;
}

.tooltip:hover:before,
.tooltip:hover:after {
  visibility: visible;
}

.template {
  grid-area: main;
  grid-template-areas: 'sidebar content';
  grid-template-columns: 70px minmax(400px, 1fr);
}

@media (max-width: 768px) {
  .template {
    grid-template-areas:
      'sidebar'
      'content';
    grid-template-columns: 1fr;
    grid-template-rows: 64px 1fr;
  }
}

.content {
  grid-template-areas:
    'header'
    'menu'
    'submenu'
    'content';

  grid-template-rows: 36px 64px 1fr;
}

.video-content {
  grid-template-areas:
    'header'
    'video-content' !important;
  grid-template-rows: 36px calc(100vh - 190px) !important;
}

.menu-container {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  /* Esconde o scrollbar do container */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  width: calc(100vw - 200px);
  flex-shrink: 0;
  justify-content: space-around;
}

@media (max-width: 1200px) {
  .menu-container {
    width: calc(100vw - 160px);
  }
}

@media (max-width: 966px) {
  .menu-container {
    width: calc(100vw - 120px);
    justify-content: start !important;
  }
}

@media (max-width: 768px) {
  .menu-container {
    width: calc(100vw - 36px);
    justify-content: start !important;
  }

  .video-content {
    grid-template-areas:
      'header'
      'video-content' !important;
    grid-template-rows: 36px 1fr !important;
  }
}

/* Esconde o scrollbar do container */
.menu-container::-webkit-scrollbar {
  display: none;
}
.menu-item {
  flex-shrink: 0;
  display: flex;
  padding: 0 0 0 16px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 1rem;
}
